<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>1070130932530-gso6ajc812v9k5adper5cv5h9e2b9ucu.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.1070130932530-gso6ajc812v9k5adper5cv5h9e2b9ucu</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>1070130932530-78fahkmnfmmmb61b3l86j87l2a8enga7.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyDbKr4Ay4ji0Grkn1i9NKfO8bk9MsufhUU</string>
	<key>GCM_SENDER_ID</key>
	<string>1070130932530</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.flutterflow.bechioblank</string>
	<key>PROJECT_ID</key>
	<string>bechio</string>
	<key>STORAGE_BUCKET</key>
	<string>bechio.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:1070130932530:ios:172d09a63a85b1e52f852b</string>
</dict>
</plist>