<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>1070130932530-tc2hse8jc4773caemlf82m0qqgee9gsb.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.1070130932530-tc2hse8jc4773caemlf82m0qqgee9gsb</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>1070130932530-1fqh9jffe32fo9urps4fh7naedbu47i9.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyDbKr4Ay4ji0Grkn1i9NKfO8bk9MsufhUU</string>
	<key>GCM_SENDER_ID</key>
	<string>1070130932530</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.flutterflow.bechio</string>
	<key>PROJECT_ID</key>
	<string>bechio</string>
	<key>STORAGE_BUCKET</key>
	<string>bechio.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:1070130932530:ios:0f0a3dbd81313be62f852b</string>
</dict>
</plist>